{% extends "sitemeta.html" %}
{% block title %}/r/{{subname}}{% endblock %}
{% block content %}
<h1>Subreddit: {{subname}}</h1>
<p>The concatenation of all posts to this subreddit has a topic distribution of:</p>
<table>
    <caption>Topic Distribution for {{subname}}</caption>
    <thead>
            <th>Topic</th>
            <th>Score</th>
    </thead>
    <tbody>
    {% for id, score in t_res %}
    <tr>
        <td>{{id}}</td>
        <td>{{score}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
