{% extends "sitemeta.html" %}
{% block title %}Simple Subreddit Search{% endblock %}
{% block localstyle %}
#error-msg {
	color: black;
	border: thin solid red;
	background: #f88;
	padding: 1em;
}
{% endblock %}
{% block content %}
<form method="post">

<h1>Simple Subreddit Search</h1>

{%if error %}
<div id="error-msg">
{{error}}
</div>
{% endif %}
<hr>

<div>
    <h2>Prefix Search</h2>
    <div><input type="text" name="prefix" id="prefix"><button type="submit" value="PrefixSearch">Search</div>
    <div>(3 or more characters)</div>
    {% if p_res %}
    <ul>
            {% for r in p_res %}
                <li><a href="{{ url_for('subpage', subname=r) }}">{{r.decode("utf-8")}}</li></a>
            {% endfor %}
    </ul>
    {% endif %}
</div>

<hr>

<div>
    <h2>Full-name Search</h2>
    <div><input name="r" id="r"> <button type="submit" value="View /r/">Search</button></div>
</div>

<!--
    {% if query != "" %}
    <div>
    <p>
        Query was: {{ query }} <a href="{{ url_for('subpage', subname=query) }}">{{query}}</a>
    </p>
    {% endif %}
</div>
-->
</form>
{% endblock %}
