{% extends "sitemeta.html" %}
{% block title %}Simple /r/ Search{% endblock %}
{% block localstyle %}
#error-msg {
	color: black;
	border: thin solid red;
	background: #f88;
	padding: 1em;
}
{% endblock %}
{% block content %}
<form method="post">

<h1>Simple /r/ Search</h1>

{%if error %}
<div id="error-msg">
{{error}}
</div>
{% endif %}
<hr>

<div>
    <h2>Prefix Search</h2>
    <div><label for="prefix">/r/ name prefix (3 or more chars):</label></div>
    <div><input type="text" name="prefix" id="prefix"><button type="submit" value="PrefixSearch">Search</div>

    {% if p_res %}
    <ul>
            {% for r, _ in p_res %}
                <li><a href="{{ url_for('subpage', subname=r) }}">{{r.decode("utf-8")}}</li></a>
            {% endfor %}
    </ul>
    {% endif %}
</div>

<hr>

<div>
    <label for="r">/r/ (full name)</label>
    <input name="r" id="r">
    <input type="submit" value="View /r/">
</div>

<!--
    {% if query != "" %}
    <div>
    <p>
        Query was: {{ query }} <a href="{{ url_for('subpage', subname=query) }}">{{query}}</a>
    </p>
    {% endif %}
</div>
-->
</form>
{% endblock %}
