{% extends "sitemeta.html" %}
{% block title %}/t/{{topicID}}{%endblock %}
{% block content %}
        <h1>Topic: {{topicID}}</h1>
        <p>This topic's most common words are:</p>
        <table>
            <caption>Most common words for {{topicId}}</caption>
            <thead>
                    <th>Word</th>
                    <th>Score</th>
            </thead>
            <tbody>
            {% for word, score in t_res %}
            <tr>
                <td>{{word}}</td>
                <td>{{score}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
